<% include header %>
<div class="modal-body row">
    <div class="col-md-4">
           <p><font color="red" size="30px">Don't be a stranger,</font><br><font size="30px">just say Hello</font></p>
           <p><font color="gray">Feel free to get in touch with me.I am always open to discussing new projects.Creative ideas or opportunities to be part of your visions.</font></p>
           <br>
           <br>
           <p><font color="gray">NeedHelp?</font></p>
           <p>poojithasingam@gmail.com</p>
       </div>
       <div class="col-md-8"> 
<p>For queries please contact!!!</p>
<br>
<form action="/action_page.php">
First name<br>
<input type="text" name="Firstname">
<br>
Last name<br>
<input type="text" name="Lastname">
<br>
E-mail<br>
<input type="email" name="Email">
<br>
Comments<br>
<textarea rows="5" cols="40" name="Comments">
</textarea>
<br>
<input type="submit" value="Submit">
</form>
<br><br>
</form>
<footer>
<a href="https://www.facebook.com/singam.poojitha">
<img src="https://iconmonstr.com/wp-content/g/gd/makefg.php?i=../assets/preview/2012/png/iconmonstr-facebook-1.png&r=15&g=79&b=255" width="20" height="20">
</a>
<a href="https://www.linkedin.com/in/poojitha-singam-8b8ab5b1/">
<img src="https://iconmonstr.com/wp-content/g/gd/makefg.php?i=../assets/preview/2012/png/iconmonstr-linkedin-1.png&r=61&g=145&b=255" background-color="grey" width="20" height="20">
</a>
<a href="https://twitter.com/pooji_7">
<img src="https://iconmonstr.com/wp-content/g/gd/makefg.php?i=../assets/preview/2012/png/iconmonstr-twitter-1.png&r=59&g=124&b=255" width="20" height="20">
</a>
<a href="https://github.com/PoojithaSingam">
<img src="https://iconmonstr.com/wp-content/g/gd/makefg.php?i=../assets/preview/2012/png/iconmonstr-github-1.png&r=48&g=83&b=255" width="20" height="20">   
</a>
<a href="https://bitbucket.org/Poojitha_Singam/">
<img src="https://wac-cdn.atlassian.com/dam/jcr:bd56917e-e361-4f03-b672-9f5ef5b06e80/Bitbucket-blue.svg?cdnVersion=kb" width="70" height="80">
</a>
</footer>
<% include footer %>
