<% include header %>
<div class="modal-body row">
    <div class="col-md-2">
           <img src="images/photo.JPG" class="img-circle" width="200" height="200" class="responsive" >
       </div>
       <div class="col-md-6"> 
                       <h5 id="p1">CURRENT</h5>
                       <p class="italic">I am a new student of Fall 2018 Batch working on my Masters of Applied Computer Science.</p></strong>
                       <h5 id="p1">BACKGROUND</h5>
                       <p class="italic">I am from Andhra Pradesh, India and I completed my Bachelors in Computer Science and Systems Engineering 
                       from JNTUA. I have a passion for designing, traveling and experimenting new things which is one of many reasons
                        why I chose Masters degree in Us.</p>
                       <h5 id="p1">PLANS</h5>
                       <p class="italic">In the future, I would like to see myself as a Software Developer.</p></strong>
                       <p class="italic"> I am an optimist and believes in hard work.</p></em>
                       <h5 id="p1">SCHEDULE</h5>
                       <table cellspacing="10">
                         <tr>
                           <th>COURSE</th>
                           <th>TIME</th>
                           <th>DAYS</th>
                         </tr>
                         <tr>
                           <td>Object oriented programming</td>
                           <td>2:00 to 3:15PM</td>
                           <td>Tuesday,Thursday</td>
                         </tr>
                         <tr>
                         <td>ADV topics in DB systems</td>
                         <td>11:00 to 11:50AM</td>
                         <td>Monday,Wednesday,Friday</td>
                         </tr>
                          <tr>
                         <td>Web Apps</td>
                         <td>2:00 to 2:50PM</td>
                         <td>Monday,Wednesday<td>
                        
                         </tr>
                         </table>
                         <br>
                         <br>
                         <br>
                         <div class="videoWrapper">

<iframe width="560" height="349" src="https://www.youtube.com/embed/F0cD-40AVlY" frameborder="0" allowfullscreen></iframe>
</div>
             
    </div>
</div>
<% include footer %>