<% include header %>
<body  background="https://images.pexels.com/photos/417054/pexels-photo-417054.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="responsive">
    <div class="c">
        <p><font color="white">Hello,I'm Poojitha Singam</font></p>
      </div>
<% include footer %>
